.mainContent {
  padding-top: 175px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: #2c3e50;
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.mainSubtitle {
  color: #34495e;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 3rem;
  }

  .mainSubtitle {
    font-size: 1rem;
  }
}