:root {
  min-height: 100vh;
  width: 100%;

  font-family: 'Lora', 'Pacifico', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-brush-white);
  background: var(--gradient-sunrise);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
  
body {
  background-image: url('/images/bob-ross-hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}